$link-color-base: #082B48;
$link-bg-base: #e3fcf4;
$link-font-family: Verdana, Geneva, Tahoma, sans-serif;
$link-opacity: 0.7;
$link-font-weight: bold;
$link-font-size-base: 16px;
$link-margin-bottom: 20px;
$breakpoints:(
    'sm': 'screen and (max-width: 767px)',
    'md': 'screen and (max-width: 867px)',
    'lg': 'screen and (max-width: 992px)',
    'xl': 'screen and (max-width: 1200px)'
)   !default;

@mixin mq( $breakpoint: md ) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin title-font( $font-size: $link-font-size-base +8px, $text-align: left, $margin-bottom: $link-margin-bottom ) {
    font-weight: $link-font-weight;
    font-size: $font-size;
    text-align: $text-align;
    margin-bottom: $margin-bottom;
}

@mixin link-font( $font-size: $link-font-size-base, $font-weight: $link-font-weight ) {
    font-weight: $font-weight;
    font-size: $font-size;
    text-decoration: none;
    color: $link-color-base;
    &:hover {
        opacity: $link-opacity;
    }
}

body {
    color: $link-color-base;
    font-family: $link-font-family;
    line-height: 1.5;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}
.container {
    width: 90%;
    max-width: 980px;
    margin: auto;
}

img {
    width: 10%;
    height: auto;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
    @include mq(sm) {
        content: none;
    }
}

.btn {
    padding: 10px 40px;
    font-size: $link-font-size-base +4px;
    color: #000;
    border: none ;
    border-radius: 4px;
    font-weight: $link-font-weight;
    // display: block;
    margin: auto;
    background-color: #ec6d64;

    &_reg {
        background-color: #087423;
    }

    &_login {
        background-color: #64ece1;
    }

    &:hover {
        opacity: $link-opacity;
        cursor: pointer;
    }
}

input[type="text"] {
    border: solid 3px #d8d8d8;
    font-size: $link-font-size-base + 2px;
    border-radius: 999px;
    padding: 15px;
    width: 600px;
    // display: block;
    margin: auto;
    // margin-top: $link-margin-bottom;
    // margin-bottom: $link-margin-bottom;
    @include mq(sm) {
        width: 100%;
    }
}

.keyword-input-area {
    margin: 10px 0;
}